.saladict-dict-title {
  word-break: break-all;

  & > * {
    word-break: keep-all;
    white-space: nowrap;
  }
}

.saladict-dict-title-icon {
  width: 1.3em;
  height: 1.3em;
  margin-right: 5px;
  vertical-align: text-bottom;
}

.saladict-dict-title-link {
  color: currentColor;
}

