@import '../FloatBox/FloatBox.scss';

.hoverBox-Container {
  display: inline-block;
  position: relative;
}

.hoverBox-FloatBox {
  position: absolute;
  z-index: 2147483647;
}


.isAnimate-enter .csst-hoverBox {
  opacity: 0;
  transition: opacity 0.4s;
}

:is(.isAnimate-enter-enter-active,
  .isAnimate-enter-exit) .csst-hoverBox {
  opacity: 1;
  transition: opacity 0.4s;
}

.isAnimate-enter-exit-active .csst-hoverBox {
  opacity: 0;
  transition: opacity 0.4s;
}