.options-header {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  line-height: 1.2;

  @media screen and (max-width: 800px) {
    margin: 0 -20px !important;
  }

  @media screen and (max-width: 600px) {
    margin: 0 -40px !important;
  }
}

.options-header-title {
  text-align: right;

  h1 {
    font-size: 1.5em;
    color: #fff;
    margin: 0;
  }

  span {
    opacity: 0.65;
  }
}



.head-info {
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  margin: 0 0 10px 0;
  padding: 0;

  & > li {
    margin: 0 0 0 8px;
    list-style-type: none;

    & > a {
      color: #fff;
      opacity: 0.65;
      transition: opacity 0.4s;

      &:hover,
      &:active,
      &:focus {
        opacity: 1;
      }
    }
  }
}

.head-info-bubble-wrap {
  position: relative;
}

.head-info-bubble {
  position: absolute;
  z-index: 2147483647;
  top: 80%;
  right: 0;
  padding: 8px 8px;
  line-height: 1.6;
  color: var(--opt-color);
  background-color: var(--opt-background-color);
  border-radius: 15px;
  box-shadow: 3px 4px 31px -8px rgba(0, 0, 0, 0.8);

  & > ol {
    margin: 0;

    & > li {
      white-space: nowrap;
      line-height: 2;
      padding-right: 20px;
    }
  }
}

.head-info-donate {
  display: flex;
  white-space: nowrap;
  margin-bottom: 1em;

  img {
    width: 200px;
    height: 200px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.head-info-fade-enter {
  opacity: 0;
  transition: opacity 0.5s;
}

.head-info-fade-enter-active,
.head-info-fade-exit {
  opacity: 1;
  transition: opacity 0.5s;
}

.head-info-fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s;
}

.head-info-unin {
  @media screen and (max-width: 800px) {
    display: none !important;
  }
}
