/*-----------------------------------------------*\
    Variables
\*-----------------------------------------------*/
// @import '@P/_sass_shared/_theme.scss';
@import '@sala/core/src/assets/styles/_theme.scss';

/*-----------------------------------------------*\
    Components
\*-----------------------------------------------*/
@use './Notes.scss';
