/*-----------------------------------------------*\
    Variables
\*-----------------------------------------------*/
// @import '@P/_sass_shared/_theme.scss';
@use '@P/saladict-core/src/assets/styles/_theme.scss';

/*-----------------------------------------------*\
    Components
\*-----------------------------------------------*/
@use './Notes.scss';
