.dictItemHead-Loader {
  display: flex;
  align-items: center;
  width: 54px;
  height: 20px;
}

.dictItemHead-Loader>div {
  width: 8px;
  height: 8px;
  margin: 2px;
  background: #f9690e;
  border-radius: 100%;
}

@keyframes dictItemHead-Loader {
  0%,
  30%,
  70%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}