@use './Notes.scss';
/*-----------------------------------------------*\
    Variables
\*-----------------------------------------------*/
// @import '@P/_sass_shared/_theme.scss';
@use '../../../assets/styles/_theme.scss';

/*-----------------------------------------------*\
    Components
\*-----------------------------------------------*/
