.saladict-Speaker.isActive {
  animation: saladict-Speaker-playing 1s steps(6) infinite;
}

@keyframes saladict-Speaker-playing {
  from {
    background-position-x: 0;
  }
  70% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 100%;
  }
}
